
  header {
    position: relative;
    background-color : black;
    height: 100%;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
   }


  
  @media screen and (min-width: 481px) and (max-width: 1199px) {
      
     header{

        background-image: url("../image/cascade-1846424_1920.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
     }
       #test{
           display: none;
       }
       #texto{
           display: none;
       }
      }
  
          
   @media only screen and (max-width: 480px){
       header{
           background-image: url("../image/chutes-du-niagara.jpg");
           background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;

       }
        #test{
            display: none;
        }
        #texto{
            display: none;
        }
        }
    
    
    



   #navbarNavAltMarkup{

    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center;
}

   #z2{

    background-color: white;
    padding: 5rem;
   }


h5{
    text-align: center;
    padding: 2rem;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;

}

h4{

    text-align: center;
    padding: 6rem;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

i{
    font-size: 2rem;
    color: black;
    padding: 1rem ;
}

hr{
        
    background: white;
    height: 0.25rem;
    border-style: none;
    
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1,25vw;
}

footer{

    padding: 5rem;
}


