html, body {
  margin: 0;
  height: 100%;
}

.container-fluid--parallax {
  background-image: url("../img/icon3.jpg");
  background-attachment: fixed;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-family: EB Garamond;
}